*{
    padding:0;
    margin:0;
    outline: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.8s;
}
:root{
    --cinza: #eee;
    --preto: #222;
}
h1, input, section, .escolhas>div{
    box-shadow: 1px 1px 7px rgba(34, 34, 34, 0.3);
    border-radius: 5px;
    background-color: var(--cinza);
}
h1{
    justify-content: space-between;
    font-size: 5em;
    color: var(--preto);
    padding: 15px;
    width: 500px;
    margin: 50px auto;
    transition: 0.5s;
    display: flex;
}
h1:hover{
    width: 650px;
}
#circle-1, #circle-2{
    margin: 35px 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: inherit;
}
input{
    font-size: 1em;
    padding: 10px;
    transition: 0.25s;
    border: none;
}
input#jogada{
    width: 230px;
}
input#jogada:focus{
    width: 300px;
}
input#botao{
    margin: 20px auto;
    display: block;
    border: none;
    background-color: #ffce20;
    color: rgb(24, 15, 0);
}
input#botao:hover{
    filter: brightness(85%);
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
#left-sec{
    margin: 0 10px 0 50px;
}
#right-sec{
    margin: 0 50px 0 10px
}
section{
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    transition: 0.7s;
    font-size: 1.2em;
    height: 260px;
}
main section>h2{
    color: #ffce20;
    font-size: 2em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #2222224d;
}
main section>p{
    text-align: justify;
}
#right-sec>ul{
    list-style: none;
    margin-top: 15px;
}
section:hover{
    width: 60%;
}
.destaque{
    font-weight: bold;
}
.escolhas{
    margin: 50px 150px 0 150px;
    display: flex;
    justify-content: space-between;
}
.escolhas > div{
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto 160px;
    background-position: bottom;
    transition: 0.5s;
}
.escolhas div > p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
}
.escolhas > div:hover{
    width: 250px;
    filter: brightness(90%)
}
label{
    display: block;
    margin: 50px 0;
}
#tesoura{
    background-image: url(img/tesoura.png);
}
#pedra{
    background-image: url(img/pedra.png);
}
#papel{
    background-image: url(img/papel.png);
}
